<%= link_to("<- Back to List", {controller: 'sections', action: 'list'}, class: 'back-link') %>

<div class="section edit">
	<h2>Update Section</h2>
	
	<%= form_for(@section, url: {action: 'update', id: @section.id}) do |f| %>
	
		<%= render 'form', {f: f} %>
		
		<div class="form-buttons"><%= submit_tag("Update Section") %></div>
	<% end %>
</div>