<%= link_to("<< Back to List", {action: "list"}, class: "back-link") %>

<div class="page new">
	<h2>Create Page</h2>
	
	<%= form_for(@page, url: {action: 'create'} ) do |f| %>
	
		<%= render 'form', {f: f} %>
		
		<div class="form-buttons">
			<%= submit_tag("Create Subject") %>
		</div>
	<% end %>
</div>